{% extends '../products/base.html' %}
{% load static %}

{% block baggageServices %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 70) * (60vw - 320 * 1px)/ (1920 - 320));">Упаковка и хранение багажа</h1>

        <div class="content">
            <p>В аэропорту Владивостока вы можете воспользоваться услугами упаковки багажа. Упаковка в специальную стрейч-пленку защитит ваш багаж от загрязнений, несанкционированного доступа, самопроизвольного открывания. Команда профессионалов упакует ваш багаж менее, чем за 1 минуту.</p>

            <h2>Тарифы на упаковку багажа:</h2>
            <ul>
                <li>«Экономный»: Стандартная упаковка + защита багажа + нож для распаковки багажа - 1300 рублей</li>
                <li>«Выгодный»: Стандартная упаковка + защита багажа - 890 рублей</li>
                <li>«Плоский»: Стандартная упаковка - 650 рублей</li>
                <li>«Экономный +»: Двойная упаковка + защита багажа + нож для распаковки багажа - 1630 рублей</li>
                <li>«Выгодный +»: Двойная упаковка + защита багажа - 1490 рублей</li>
                <li>«Плоский +»: Двойная упаковка - 1250 рублей</li>
            </ul>
            <p>* Если вам не выдали чек, воспользуйтесь услугой БЕСПЛАТНО после звонка администратору по тел. +7 (800) 555-52-44</p>
            <p>Пассажиры могут приобрести дорожные аксессуары и защиту багажа PACK&FLY (стоимость 250 руб.)</p>
            <p><strong>Время работы:</strong> круглосуточно</p>

            <h2>Компенсация утраты багажа PACK&FLY</h2>
            <p>Оформите защиту багажа от PACK&FLY перед полётом. Всего 190 рублей за каждую сумку — и вы сможете получить от нас компенсацию при утрате багажа в размере 100 000 рублей.</p>

            <h2>Камера хранения</h2>
            <p>К вашим услугам — камера хранения багажа и ручной клади, расположенное на цокольном этаже Терминала А.</p>
            <p><strong>Время работы:</strong> круглосуточно</p>

            <h2>Стоимость услуг Камеры хранения:</h2>
            <ul>
                <li>500 рублей за первые сутки (с 00:01 до 24:00 часов);</li>
                <li>200 рублей за каждые последующие сутки.</li>
            </ul>
            <p>Неполные сутки считаются за полные.</p>

            <p>Полную информацию об услугах компании Pack&Fly и акциях для пассажиров, можно узнать на сайте <a href="http://packandfly.ru" target="_blank">packandfly.ru</a>, а также по единому телефонному номеру +7 (800) 555-52-44 (звонок по России бесплатный).</p>

            <p>Вы можете спокойно путешествовать и не волноваться о сохранности багажа, воспользовавшись услугами компании PACK&FLY.</p>

            <h2>Правила хранения багажа:</h2>
            <ol>
                <li>Вещи принимаются в любой упаковке (чемодан, портфель, сумка, рюкзак и т. п.), исключающей повреждение и загрязнение вещей других пассажиров и оборудования камеры хранения.</li>
                <li>Масса одного места багажа не должна превышать 30 кг. Объединять в одно место багажа отдельные упаковки, а также привязывать свертки к чемодану запрещается.</li>
                <li>Отдельные вещи — пальто, шляпы, зонты — принимаются на хранение с размещением их в гардеробе. Фрукты и другие продукты принимаются только в упаковке. За их порчу администрация ответственности не несёт.</li>
                <li>Стекло и другие бьющиеся предметы принимаются на хранение только в твёрдой упаковке с надписью: «Осторожно, стекло».</li>
                <li>Не принимаются на хранение взрывчатые, огнеопасные, легковоспламеняющиеся, отравляющие и неприятно пахнущие вещества, оружие без чехлов и патроны.</li>
                <li>Вещи, не полученные владельцем в течение 30 суток со дня принятия на хранение, считаются невостребованными и реализуются в установленном порядке.</li>
                <li>При получении вещей из камеры хранения на временное пользование право на дальнейшее их хранение прекращается. Повторная сдача оформляется вновь.</li>
                <li>При утрате жетона вещи выдаются на основании заявления и предъявления документов, подтверждающих принадлежность вещей. Выдача вещей пассажирам с детьми дошкольного возраста производится вне очереди.</li>
            </ol>
        </div>
    </div>
{% endblock %}