{% extends '../products/base.html' %}
{% load static %}

{% block checkInServices %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 80) * (60vw - 320 * 1px)/ (1920 - 320));">Дополнительные услуги, оказываемые на стойках регистрации</h1>

        <div class="container">
            <p>При регистрации на стойках регистрации в Международном аэропорту Владивосток пассажирам доступны к оформлению и оплате дополнительные услуги Авиакомпаний:</p>
            <ul class="list-disc">
                <li>оформление сверхнормативного и негабаритного багажа;</li>
                <li>повышение класса обслуживания;</li>
                <li>выбор места повышенного комфорта.</li>
            </ul>
            <p>Сервис реализуется с использованием мобильной кассы aQsi по технологии Сирена-Трэвел.</p>
            <p>Сервис позволяет сократить время пассажиров на оформление дополнительных услуг в агентских кассах и использовать преимущества оформления и оплаты во время регистрации на рейс.</p>
            <p><strong>Ограничения по услуге:</strong></p>
            <ul class="list-disc">
                <li>Оплата дополнительных услуг может быть произведена Кредитной или дебетовой банковской картой VISA, MasterCard, МИР.</li>
                <li>Дополнительные услуги оказываются только на рейсах Авиакомпаний, указанных в Списке Авиакомпаний, на рейсах которых осуществляется продажа дополнительных услуг на стойках регистрации в аэропорту Владивосток.</li>
            </ul>
            <p>Прейскурант на услуги агентства АО "Международный аэропорт Владивосток", оказываемые в адрес потребителей. <a href="/assets/files/information/Прейскурант%20на%20услуги%20агентства%20АО%20Международный.PDF">Скачать</a></p>
            <p>Оферта на оказание услуг оформления и оплаты дополнительных услуг перевозчиков на стойках регистрации в аэропорту Владивосток (Кневичи). <a href="/assets/files/information/Оферта%20на%20оказание%20услуг%20оформления%20и%20оплаты%20дополнительных%20услуг%20перевозчиков.PDF">Скачать</a>
            </p>
            <p>Список авиакомпаний, на рейсах которых осуществляется продажа дополнительных услуг на стойках регистрации в аэропорту Владивосток (Кневичи). <a href="/assets/files/information/spisok.doc">Скачать</a></p>
            <div class="text-center">
                <img src="/upload/medialibrary/1c6/ul3o2cbl2mz9jyed8236b1wy8yfuaz1v.png" class="img-fluid" alt="">
            </div>
        </div>


    </div>
{% endblock %}
