{% extends '../products/base.html' %}
{% load static %}

{% block childcareService %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 70) * (60vw - 320 * 1px)/ (1920 - 320));">Обслуживание пассажиров с детьми</h1>

        <div class="content">
            <p>Дети в возрасте до двух лет (INF, РМ) принимаются к перевозке только в сопровождении взрослого совершеннолетнего пассажира (ADT, ВЗР).</p>

            <p>Один взрослый пассажир имеет право перевезти:</p>
            <ol>
                <li>на ВВЛ – одного младенца – бесплатно, без предоставления ему отдельного места. Наличие нормы провоза багажа определяется перевозчиком;</li>
                <li>на МВЛ – одного младенца – со скидкой в размере 90% от примененного тарифа, без предоставления ему отдельного места, с предоставлением ему нормы бесплатного провоза багажа не менее 10 кг.</li>
            </ol>

            <p>Грудным детям в соответствии с правилами авиаперевозчика, устанавливающими ограничения по весу и возрасту детей на борту самолета могут быть предоставлены детские люльки (если ВС ими оборудовано), о желании получить люльку на время полета необходимо заявить во время бронирования
                авиабилетов, но не позже чем за 24 часа до вылета. В этом случае родителям (сопровождающим) предоставляются места в ВС, предусматривающие ее размещение.</p>

            <p>Нельзя размещать более одного ребенка без места на один блок кресел.</p>

            <p>Детские прогулочные коляски перевозятся в качестве зарегистрированного багажа, либо в качестве незарегистрированного багажа (коляски-трость), в зависимости от типа ВС, в соответствии с установленными правилами АК.</p>

            <p>Дети в возрасте от 2 до 12 лет перевозятся:</p>
            <ol>
                <li>В сопровождении совершеннолетнего пассажира (CHD, CNN, РБ);</li>
                <li>Либо без сопровождения (UM), под наблюдением Авиакомпании, если такая перевозка предусмотрена правилами АК.</li>
            </ol>

            <p>Возраст ребенка определяется на дату начала перевозки от аэропорта (пункта) отправления, указанного в перевозочном документе.</p>

            <p>Пассажирам с детьми в аэропорту отправления предоставляется внеочередное обслуживание при регистрации авиабилета и прохождении предполётных формальностей. Места на борту ВС предоставляются согласно рекомендациям АК. Пассажирам с детьми не предоставляются места рядом с аварийным
                выходом. Детям предпочтительно выделять места возле окон.</p>

            <p>В соответствии с международными договорами Российской Федерации несовершеннолетние граждане Российской Федерации (в возрасте до 14 лет) могут использовать для выезда из страны в Беларусь, Казахстан, Кыргызстан свидетельство о рождении, к которому необходимо иметь документ,
                удостоверяющий гражданство Российской Федерации (отметку в документе).</p>

            <p>В соответствии с Указом Президента Российской Федерации от 22 ноября 2023 г. № 889, наличие гражданства Российской Федерации у несовершеннолетних граждан Российской Федерации (в возрасте до 14 лет) при выезде из Российской Федерации по свидетельству о рождении удостоверяется одним из
                следующих документов:</p>
            <ul>
                <li>отметкой в свидетельстве о рождении, подтверждающей наличие гражданства Российской Федерации, проставленной должностным лицом органа, ведающего делами о гражданстве Российской Федерации, и печатью этого органа;</li>
                <li>свидетельством о приобретении гражданства Российской Федерации по рождению;</li>
                <li>документом, выданным полномочным органом иностранного государства (с переводом на русский язык), с отметкой, подтверждающей наличие гражданства Российской Федерации, проставленной должностным лицом органа, ведающего делами о гражданстве Российской Федерации, и печатью этого
                    органа.
                </li>
            </ul>
            <p>Для получения дополнительной информации о правилах перевозки детей и маломобильных пассажиров, а также о правилах пользования услугами аэропорта, пожалуйста, обратитесь к представителям авиакомпании или посетите наш сайт.</p>
        </div>
    </div>
{% endblock %}

