{% extends '../products/base.html' %}
{% load static %}

{% block emergencies %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 45) * (60vw - 320 * 1px)/ (1920 - 320));">Гражданская защита</h1>

        <div class="content">
            <p>Обеспечение гражданской защиты пассажиров, сотрудников аэропорта и авиакомпаний от чрезвычайных ситуаций техногенного и природного характера является приоритетом деятельности АО «Международный аэропорт Владивосток».</p>

            <p>Главная цель обеспечения гражданской защиты в чрезвычайных и кризисных ситуациях - снижение риска причинения вреда людям и имуществу, контроль возможных факторов риска, поддержание на заданном уровне сил и средств предназначенных для ликвидации чрезвычайных и кризисных ситуаций, обеспечение необходимыми средствами гражданской защиты.</p>

            <p>Информацию по предупреждению и действиям в чрезвычайных ситуациях, ограничениям, накладываемым в области обеспечения безопасности функционирования аэропорта и авиационных перевозках, можно получить:</p>

            <ul>
                <li>По вопросам гражданской защиты в ЧС — в специальном отделе, начальник отдела — Демин Борис Евграфович, телефон: +7 (423) 230-68-85.</li>
                <li>По обеспечению карантинных мероприятий в аэропорту:
                    <ul>
                        <li>в санитарно-карантинном пункте (роспотребнадзор): +7 (423) 230-53-60;</li>
                        <li>в пункте ветеринарного контроля: +7 (423) 230-76-99;</li>
                        <li>в пункте фитосанитарного контроля: +7 (423) 230-76-90.</li>
                    </ul>
                </li>
            </ul>

            <p>Информацию об угрозе или возникновении ЧС передать:</p>
            <ul>
                <li>при пожаре по телефону: 01;</li>
                <li>при ЧС и экстренных ситуациях в ОДЦ аэропорта по телефону: +7 (423) 230-67-77;</li>
                <li>или любому должностному лицу аэропорта.</li>
            </ul>

            <h2>Действия в чрезвычайной ситуации:</h2>

            <p>При пожаре, срабатывании пожарной сигнализации, объявлении эвакуации — незамедлительно, руководствуясь схемой эвакуации и сигнальными табло, кратчайшим путем покинуть помещение и находиться в месте, указанном должностными лицами аэропорта.</p>

            <p>При срабатывании сирены, сигнал «Внимание всем!» прослушать дикторское оповещение и информацию территориальных органов РСЧС, передаваемую по каналам СМИ и СМС.</p>

            <p>При угрозе чрезвычайной ситуации природного или техногенного характера строго следовать указаниям должностных лиц по вопросам эвакуации и выполнении мероприятий индивидуальной и коллективной защиты.</p>
        </div>
    </div>
{% endblock %}
