{% extends '../products/base.html' %}
{% load static %}

{% block fastTrack %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 45) * (60vw - 320 * 1px)/ (1920 - 320));">Fast Track</h1>

        <div class="content">
            <p>Fast Track – ускоренное прохождение пассажиром официальных процедур.</p>

            <p>Сотрудники аэропорта сопровождают пассажира при прохождении предполетных формальностей, что значительно сокращает время на их прохождение.</p>

            <p>Услуга Fast Track для:</p>
            <ul>
                <li>прохождения формальностей в индивидуальном порядке, исключая очереди и ожидание;</li>
            </ul>

            <p>К предполетным формальностям, официальным процедурам относятся: регистрация на рейс, предполетный досмотр. Также Fast Track включает персональное обслуживание и помощь в оформлении необходимых документов.</p>

            <br>
            <p><strong>Тариф за обслуживание пассажиров вне очереди "FAST TRACK"</strong></p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Наименование услуг</th>
                    <th scope="col">Руб./пассажир</th>
                    <th scope="col">Стоимость</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Стоимость обслуживания пассажира на вылет</td>
                    <td align="center">руб./пасс.</td>
                    <td align="center">3 000</td>
                </tr>
                <tr>
                    <td>Тариф "Семейный" (на вылет) (до 4-х человек включительно)*</td>
                    <td align="center">руб.</td>
                    <td align="center">6 000</td>
                </tr>
                <tr>
                    <td>Дополнительно один ребенок от 2 до 12 лет</td>
                    <td align="center">руб./пасс.</td>
                    <td align="center">1 500</td>
                </tr>
                <tr>
                    <td>Стоимость обслуживания групп пассажиров (от 5 до 30 человек) на вылет</td>
                    <td align="center">руб./пасс.</td>
                    <td align="center">2 500</td>
                </tr>
                </tbody>
            </table>
            <br>

            <p>* Для семьи до 4-х человек, включая детей в возрасте до 12 лет. Обслуживание детей в возрасте до 2-х лет осуществляется бесплатно.</p>

            <p><strong>Заказать онлайн</strong></p>
            <p>Для заказа услуги обратитесь по телефону:</p>
            <p>230-69-09 колл-центр аэропорта, +7 (423) 230-68-38/ моб. +7 (924) 730-03-48 начальник смены СОАП.</p>

            <p>Будьте готовы назвать номер рейса, дату вылета, а также сообщить информацию о количестве человек, наличии багажа.</p>

            <p>Примечание: в случае возникновения сбойных ситуаций, которые могут повлечь за собой задержку вылета рейса, агент вправе отказать в оказании услуги, после чего деньги пассажиру возвращаются.</p>
        </div>
    </div>
{% endblock %}
