{% extends '../products/base.html' %}
{% load static %}

{% block limitedMobility %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 70) * (60vw - 320 * 1px)/ (1920 - 320));">Маломобильные пассажиры</h1>

        <div class="content">
            <p>Международный аэропорт Владивосток со всей ответственностью следует принципам национальной программы «Доступная среда» и уделяет повышенное внимание к обслуживанию маломобильных пассажиров.</p>

            <p>Если Вы относитесь к числу маломобильных пассажиров, пожалуйста, сообщите об этом сотруднику при бронировании авиабилета.</p>

            <p>В аэровокзальном комплексе внедрена безбарьерная среда: для маломобильных граждан доступны все без исключения зоны обслуживания пассажиров, повсеместно имеются специальные оборудованные туалетные комнаты, любая информация до пассажиров доводится акустическими и визуальными средствами,
                навигационные знаки имеют контрастное исполнение.</p>

            <p>Для удобства маломобильных пассажиров в секторе «А» парковочной зоны имеются специальные парковочные места, обозначенные соответствующими дорожными знаками и наземной маркировкой. Парковка маломобильным пассажирам предоставляется безвозмездно при предъявлении пассажиром действующего
                удостоверения инвалида. Если у Вас возникнут вопросы по правилам пользования парковкой, то для получения необходимой информации позвоните по телефону, указанному на парковочной карте.</p>

            <p>При необходимости, по прибытию в аэропорт Вы можете запросить услугу сопровождения – сотрудники аэропорта помогут Вам пройти все необходимые предполетные процедуры от встречи на привокзальной площади до посадки в самолет, включая прохождение всех видов досмотра, регистрацию на рейс,
                размещение в терминале, а также посадку в перронный автобус.</p>

            <p>Заказать услугу сопровождения Вы можете следующими способами:</p>
            <ul>
                <li>Позвонив по телефону +7 (924) 730-03-65;</li>
                <li>Воспользовавшись кнопками вызова персонала, расположенными на парковке «А», а также на входе в аэровокзал;</li>
                <li>Обратившись на стойку информации, расположенную в аэровокзале на 1 этаже.</li>
            </ul>

            <p>Также пассажирам с нарушениями опорно-двигательного аппарата при необходимости могут быть предоставлены на временное пользование в пределах аэропорта инвалидные кресла-коляски.</p>

            <p>Уважаемые пассажиры, просим обратить Ваше внимание на правила перевозки кресел-колясок:</p>
            <ul>
                <li>Пассажиры, использующие инвалидное кресло-коляску с ручным приводом имеют возможность остаться в своем кресле-коляске до момента посадки на борт воздушного судна. На регистрации кресло-коляска маркируется соответствующей биркой в багаж и при посадке пассажира в воздушное судно
                    сдается в багажный отсек. При посадке на борт воздушного судна пассажир пересаживается в специальное кресло-коляску, адаптированное для перемещения по салону воздушного судна.
                </li>
                <li>Кресла-коляски с электрическим приводом, используемые пассажиром, сдаются в зарегистрированный багаж при регистрации на рейс. Пассажиры, использующие кресло-коляску с электрическим приводом, обязаны иметь при себе набор ключей/приспособлений для отсоединения клемм аккумулятора и
                    инструкцию. Отсоединение клемм аккумулятора пассажир осуществляет самостоятельно либо сотрудником аэропорта, но под контролем и под ответственность пассажира.
                </li>
                <li>Информацию об ограничениях при перевозке индивидуальных средств передвижения, используемых пассажирами (размеры, вес, иные особенности конструкции) Вы можете получить у авиакомпании.</li>
            </ul>
            <p>С вопросами и предложениями по обслуживанию особых категорий пассажиров Вы можете обратиться по телефонам:</p>
            <ul>
                <li>+7 (423) 230-69-09 – справочная аэропорта Владивосток;</li>
                <li>+7 (924) 730-03-65, +7 (423) 230-68-41 – агенты по обслуживанию маломобильных пассажиров;</li>
            </ul>

            <p>Сотрудники Международного аэропорта Владивосток будут рады Вам помочь!</p>

            <p>Уважаемые пассажиры! Обращаем Ваше внимание, что решение о возможности совершения маломобильным пассажиром авиаперелета принимает его лечащий врач или представитель авиакомпании-перевозчика с учетом нескольких факторов: состояние здоровья пассажира, необходимость специального
                оборудования, ограничений по количеству пассажиров данной категории на одном рейсе.</p>
        </div>
    </div>
{% endblock %}
