{% extends '../products/base.html' %}
{% load static %}

{% block luggage %}
    <div class="container mt-4">

        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>


        <h1 class="m-4" style="font-size: calc(1px + (260 - 45) * (60vw - 320 * 1px)/ (1920 - 320));">Багаж</h1>
        <p>
            По прибытию в аэропорт пассажиры часто сталкиваются с проблемами, связанными с перевозкой багажа. Багаж одних — это чемодан или сумка, другие перевозят велосипед или сноуборд, а третьи сдают в багаж домашнее животное. Между тем, существуют определенные правила перевозки багажа, с
            которыми
            лучше
            ознакомиться заранее.
        </p>

        <button class="fs-4 collapsible my-2 d-flex align-items-center justify-content-between" type="button">
            Животные и растения
            <svg id="arrow" fill="none" height="50px" stroke="#000000" transform="rotate(90)" viewBox="0 0 24 24" width="50px" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M7 10L12 15L17 10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6799999999999997"/>
                </g>
            </svg>
        </button>
        <div class="content">
            <h1>Информация о перевозке животных</h1>

            <h2>Общие правила</h2>
            <p>Перевозка животных в пассажирском салоне:</p>
            <ul>
                <li>В салоне можно перевезти не более одного контейнера (клетки).</li>
                <li>Вес контейнера не должен превышать 8 кг.</li>
                <li>Обратите внимание на требования к клетке, которые устанавливаются каждой авиакомпанией.</li>
            </ul>
            <p>Пассажир, лишенный зрения, по согласованию с перевозчиком может перевозиться в сопровождении собаку-проводника.</p>
            <p>Собака-проводник, сопровождающая пассажира, лишенного зрения, перевозится бесплатно сверх установленной нормы бесплатного провоза багажа.</p>

            <h2>В багажном отсеке</h2>
            <p>При перевозке в багажном отсеке вес контейнера не должен превышать 50 кг.</p>
            <p>Вес животного (в том числе и птиц), вес контейнера (клетки) и пищи, предназначенной для питания животного (в том числе и птиц), не включается в норму бесплатного провоза багажа и оплачивается пассажиром в соответствии с тарифом, установленным перевозчиком.</p>

            <h2>Грузовая перевозка</h2>
            <p>Как перевезти животное в качестве груза? Вы можете узнать у наших партнеров или на сайте авиакомпании, которой планируете лететь:</p>
            <ul>
                <li>ООО «Карго-Владивосток»:
                    <ul>
                        <li>Почтовый адрес: 692756, Приморский край, г. Артем, ул. Владимира Сайбеля, 47.</li>
                        <li>Телефон/факс: +7 (423) 222-63-22, +7 (42337) 4-15-90.</li>
                        <li>Сайт: <a href="http://cargo-vvo.ru">cargo-vvo.ru</a></li>
                    </ul>
                </li>
                <li>ООО «Аэро-Груз»:
                    <ul>
                        <li>Почтовый адрес: 692760, Приморский край, г. Артем, ул. Владимира Сайбеля, 41.</li>
                        <li>Телефон/факс: (423) 230-76-31</li>
                        <li>Сайт: <a href="http://www.air-cargo.ru/">air-cargo.ru</a></li>
                    </ul>
                </li>
            </ul>

            <h2>Документы для путешествия с животными на территории Российской Федерации</h2>
            <ol>
                <li>Ветеринарный паспорт с отметкой о вакцинации животного для перелета внутри страны. Пример заполненного документа: <a href="https://fsvps.gov.ru/fsvps-docs/ru/importExport/pets/vetpassport.pdf">vetpassport.pdf</a></li>
                <p>Отметка о вакцинации животного. Действующая прививка против "Бешенство плотоядных" – обязательное условие.</p>
                <p>Если животное перемещается со сменой владельца и/или для участия в выставочных мероприятиях, необходимо оформление ветеринарного свидетельства. Этот документ можно получить в Станции по борьбе с болезнями животных (СББЖ).</p>
                <p>Затем вместе с паспортом и животным необходимо посетить Станцию по борьбе с болезнями животных (СББЖ), где государственный ветеринарный врач проведет клинический осмотр питомца и проставит соответствующие отметки в его документ, или выпишет ветеринарное свидетельство. Визит должен
                    состоятся заблаговременно до поездки, но не раньше, чем за 14 дней.</p>
                <li>Чек об оплате услуги перевозки животного в салоне (в багаже)</li>
            </ol>

            <h2>Документы для путешествия с животными за пределы РФ</h2>
            <ol>
                <li>Ветеринарное свидетельство или ветеринарный паспорт животного.</li>
                <li>Чек об оплате услуги перевозки животного в салоне (в багаже)</li>
            </ol>

            <h2>Памятка для пассажира с домашним любимцем</h2>
            <p>При путешествии авиатранспортом необходимо заранее уточнить требования авиакомпаний и при необходимости на регистрации и перед посадкой предъявить документы на животного сотрудникам авиакомпании. Обратите внимание, что размеры переноски являются обязательным условием принятия
                животного к
                перевозке: животное должно иметь возможность лежать в естественной позе, вставать в полный рост и поворачиваться на 360 градусов, а птицы должны иметь возможность расправлять крылья или каждая птица должна помещаться в отдельный отсек. Переноска должна иметь вентиляционные решетки,
                чтобы
                воздух поступал внутрь, и надежное запорное устройство, исключающее самостоятельное покидание переноски животным. Переноска должна исключать возможность животного высунуть из контейнера морду, голову, лапу или хвост. Дно переноски должно быть цельным, влагонепроницаемым, исключать
                протечку жидкостей на поверхности в пассажирском салоне и застелено влаговпитывающей подстилкой. Мы рекомендуем заранее, до посадки на борт, установить поилку внутри переноски, чтобы Вы имели возможность поить животное в полете, не вынимая его.</p>
            <p>При приеме к перевозке может быть произведена фотофиксация животного, контейнера, документа, подтверждающего, что животное здорово, а также документов, требуемых ветеринарными органами страны, на территорию, с территории или через территорию которой осуществляется перевозка.</p>

            <h2>Получение ветеринарного свидетельства в аэропорту:</h2>
            <p>Федеральная служба по ветеринарному и фитосанитарному надзору в «Международном Аэропорту Владивосток» располагается:</p>
            <address>
                Адрес: г. Артём, ул. В. Сайбеля, 45, терминал А, зал регистрации, внутренние авиалинии, правое крыло.<br>
                Режим работы: круглосуточно<br>
                Контакты: Тел. 8 4233 79 92 32, +7 (991) 069 22-09;<br>
                E-mail: <a href="mailto:Airport-svh@yandex.ru">Airport-svh@yandex.ru</a>
            </address>
        </div>
        <hr>
        <button class="fs-4 collapsible my-2 d-flex align-items-center justify-content-between" type="button">
            Прием/выдача багажа
            <svg id="arrow" fill="none" height="50px" stroke="#000000" transform="rotate(90)" viewBox="0 0 24 24" width="50px" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M7 10L12 15L17 10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6799999999999997"/>
                </g>
            </svg>
        </button>
        <div class="content">
            <h1>Информация о багаже и перевозке</h1>
            <p>Уважаемые пассажиры! Убедительная просьба не покидать зону выдачи багажа до получения Вашего багажа.</p>
            <p>Если Вы покинули зону выдачи багажа не получив свой багаж, за его доставку в общую зону аэровокзального комплекса будет взиматься плата - 250 рублей согласно утвержденному прейскуранту.</p>

            <h2>Правила перевозки багажа</h2>
            <p>По прибытии в аэропорт пассажиры часто сталкиваются с проблемами, связанными с перевозкой багажа. Багаж одних — это чемодан или сумка, другие перевозят велосипед или сноуборд, а третьи сдают в багаж домашнее животное. Норма бесплатного провоза багажа устанавливается перевозчиком и
                предусматривает количество мест и вес багажа на одного пассажира воздушного судна. При этом норма бесплатного провоза багажа, установленная перевозчиком, не может предусматривать менее десяти килограммов на одного пассажира воздушного судна. Если вес одного места багажа превышает 30
                кг,
                то он считается тяжеловесным.</p>
            <p>Габариты одного места багажа в упакованном виде не должны превышать двести три сантиметра в сумме трех измерений. Багаж, размеры которого в сумме трех измерений превышают 203 см, считается негабаритным. При упаковке багажа необходимо учитывать, что форма багажа должна иметь одну
                плоскую
                грань (багаж не имел круглой формы).</p>

            <h2>Правила перевозки ручной клади</h2>
            <p>Пассажир воздушного судна имеет право провоза ручной клади в салоне воздушного судна в пределах установленной перевозчиком нормы без дополнительной платы (далее - норма бесплатного провоза ручной клади).</p>
            <p>В качестве ручной клади принимаются вещи, не содержащие запрещенных к перевозке в салоне воздушного судна веществ и предметов, вес и габариты которых установлены перевозчиком и позволяют безопасно разместить их в салоне воздушного судна. Норма бесплатного провоза ручной клади,
                установленная перевозчиком, не может быть менее пяти килограммов на одного пассажира.</p>

            <h2>Упаковка и специальные условия</h2>
            <p>В зоне регистрации Вы можете воспользоваться услугой упаковки багажа. Сверхнормативный и негабаритный багаж, а также животные требуют специального оформления. Заранее обратитесь в представительство авиакомпании и уточните условия перевозки подобного багажа. По вопросам, связанным с
                повреждением или утратой багажа обращайтесь к агенту по выдаче багажа или к диспетчеру по организации пассажирских перевозок по телефону <a href="tel:+74232306843">+7 (423) 230-68-43</a>.</p>

            <h2>Запрещенные к перевозке предметы</h2>
            <ul>
                <li><span class="fw-bold">Сжатые газы</span> — горючие, негорючие или ядовитые: бытовой газ, бутан, кислород, пропан, заряженные баллоны аквалангистов;</li>
                <li><span class="fw-bold">Едкие вещества</span> — кислоты, щелочи, аккумуляторные батареи, ртуть и аппараты, содержащие ртуть;</li>
                <li><span class="fw-bold">Взрывчатые вещества</span> — боеприпасы, снаряжение, пиротехнические средства, сигнальные ракеты и осветительные патроны;</li>
                <li><span class="fw-bold">Легковоспламеняющиеся жидкости и твердые вещества</span> — жидкости для зажигалок, спички и другие легковозгораемые вещества;</li>
                <li><span class="fw-bold">Радиоактивные материалы;</span></li>
                <li><span class="fw-bold">Портфели и атташе</span> — кейсы с вмонтированным сигнальным устройством;</li>
                <li><span class="fw-bold">Окислители</span> — отбеливатели и перекиси;</li>
                <li><span class="fw-bold">Яды</span> — мышьяк, цианистые вещества, инсектициды, гербициды;</li>
                <li><span class="fw-bold">Инфекционные материалы</span> — бактерии, вирусные культуры;</li>
                <li><span class="fw-bold">Другие опасные предметы и вещества</span> — намагниченные материалы, агрессивные и раздражающие вещества.</li>
            </ul>
            <p>Разрешается перевозить в ручной клади или зарегистрированном багаже лекарственные вещества и парфюмерно-туалетные изделия в ограниченном количестве, алкогольные напитки перевозятся только в зарегистрированном багаже.</p>
            <p>Перевозка стрелкового оружия, снаряжения и сухого льда разрешается в ограниченном количестве и на определенных условиях. За дополнительной информацией необходимо обращаться к авиаперевозчику.</p>
            <p><span class="fw-bold">Перевозка огнестрельного оружия в салоне самолета не разрешается.</span></p>
        </div>
        <hr>
        <button class="fs-4 collapsible my-2 d-flex align-items-center justify-content-between" type="button">
            Негабаритный багаж
            <svg id="arrow" fill="none" height="50px" stroke="#000000" transform="rotate(90)" viewBox="0 0 24 24" width="50px" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M7 10L12 15L17 10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6799999999999997"/>
                </g>
            </svg>
        </button>
        <div class="content">
            <h1>Информация о перевозке негабаритного багажа</h1>
            <p>Перевозка негабаритного багажа (габариты одного места багажа превышают 203 см в сумме трех измерений) требует дополнительной оплаты в кассе аэропорта или в офисе авиакомпании.</p>
            <p>Если вес Вашего багажа превышает норму бесплатного провоза багажа, Вам будет необходимо оплатить разницу в весе по установленному тарифу в кассе оплаты сверхнормативного багажа. Перевозка негабаритного багажа оплачивается по его фактической массе.</p>
            <p>Оплата удостоверяется квитанцией платного багажа. Сотрудник аэропорта, осуществляющий оформление багажа, проверит правильность оплаты и выдаст Вам посадочный талон.</p>
            <p>Стойки по оплате сверхнормативного багажа располагаются рядом с островом регистрации в зоне регистрации российских и международных рейсов.</p>
            <p>Оплата сверхнормативного багажа производится за каждый килограмм, превышающий норму бесплатного провоза багажа согласно тарифам, установленным авиакомпанией, осуществляющей перевозку.</p>
            <p>Багаж размером свыше 500×500×1000 мм принимается к перевозке только с разрешения перевозчика при наличии свободного тоннажа. Пассажир должен предусмотреть на тяжеловесном, длинномерном, крупногабаритном багаже приспособления для оформления его бирками для транспортировки, проведение
                погрузочно-разгрузочных работ с помощью средств механизации, которыми оборудован аэропорт.</p>
            <p>
                <span class="fw-bold">Внимание: при полной загрузке воздушного судна и при значительном превышении веса Вашего багажа нормы бесплатного провоза, Вам могут отказать в его перевозке. Рекомендуем этот вопрос согласовывать с представителем авиакомпании и уточнять при покупке авиабилета.</span>
            </p>
        </div>
        <hr>
        <button class="fs-4 collapsible my-2 d-flex align-items-center justify-content-between" type="button">
            Сверхнормативный багаж
            <svg id="arrow" fill="none" height="50px" stroke="#000000" transform="rotate(90)" viewBox="0 0 24 24" width="50px" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M7 10L12 15L17 10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6799999999999997"/>
                </g>
            </svg>
        </button>
        <div class="content">
            <h1>Информация о сверхнормативном багаже</h1>
            <p>Если Вы перевозите багаж, вес которого превышает норму бесплатного провоза, установленную авиакомпанией для Вашего класса обслуживания (сверхнормативный багаж):</p>
            <ul>
                <li>После взвешивания сотрудник аэропорта укажет фактическое количество и вес багажа в полетном купоне авиабилета и направит Вас в кассу в зоне регистрации, либо к представителю авиакомпании для решения вопроса оплаты.</li>
                <li>Разница между фактическим весом и нормой бесплатного провоза багажа оплачивается по установленному тарифу.</li>
                <li>После оплаты Вам следует получить квитанцию платного багажа. Оплата сверхнормативного багажа производится за каждый килограмм, превышающий норму бесплатного провоза багажа согласно тарифам, установленным авиакомпанией, осуществляющей перевозку.</li>
                <li>После проверки и изъятия сотрудником из квитанции платного багажа соответствующего купона, Вы получите посадочный талон.</li>
            </ul>
            <p><span class="fw-bold">Не забудьте заранее узнать условия перевозки сверхнормативного багажа в офисе авиакомпании.</span></p>
        </div>
        <hr>
        <button class="fs-4 collapsible my-2 d-flex align-items-center justify-content-between" type="button">
            Хрупкое, скоропортящееся
            <svg id="arrow" fill="none" height="50px" stroke="#000000" transform="rotate(90)" viewBox="0 0 24 24" width="50px" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M7 10L12 15L17 10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6799999999999997"/>
                </g>
            </svg>
        </button>
        <div class="content">
            <h1>Информация о багаже и его содержимом</h1>
            <p>Пассажиру не рекомендуется складывать в свой зарегистрированный багаж хрупкие и скоропортящиеся предметы, денежные знаки, ювелирные изделия, драгоценные металлы, ценные бумаги и другие ценности, деловые документы, ключи и иные подобные предметы.</p>
            <p>Багаж, имеющий внешние повреждения, которые не влияют на его сохранность при перевозке и обработке и не могут причинить вред пассажирам, членам экипажа, третьим лицам, повредить воздушное судно, багаж других пассажиров или иное имущество, может быть принят к перевозке в качестве
                зарегистрированного багажа с согласия перевозчика. При этом наличие и вид повреждения подтверждаются подписью пассажира.</p>
            <p><span class="fw-bold">Основание: Федеральные авиационные правила «Общие правила воздушных перевозок пассажиров, багажа, грузов и требования к обслуживанию пассажиров, грузоотправителей, грузополучателей», утверждены приказом Минтранса РФ от 28 июня 2007 г. № 82</span></p>
            <p>Авиаперевозчик освобождается от ответственности за багаж, если докажет, что утрата, недостача или повреждение произошли вследствие обстоятельств, которых он не мог предотвратить или устранение от него не зависело, в частности:</p>
            <ul>
                <li>особых естественных свойств, находящихся в багаже предметов или веществ, вызвавших поломку, повреждение и тому подобные явления;</li>
                <li>недостатков упаковки, которые не могли быть замечены при наружном осмотре при приемке багажа к перевозке;</li>
                <li>размещения пассажиром в багаже предметов, материалов или других вещей, запрещенных к перевозке в качестве багажа из-за их особых свойств, либо требующих специальных условий или мер предосторожности при перевозке и хранении.</li>
            </ul>
            <p>Авиаперевозчик не несет ответственности:</p>
            <ul>
                <li>за утрату вложенных в багаж денег, ценных бумаг, документов, драгоценностей и других подобных предметов, требующих особых мер хранения при перевозке.</li>
            </ul>
            <p>Не принимаются к перевозке в качестве багажа нижеперечисленные вещи:</p>
            <ul>
                <li>холодильники; стиральные машины, швейные ножные машины; мотоциклы, мотороллеры, мопеды, велосипеды, спортивные и охотничьи лодки, моторы к ним; громоздкие механизмы и запасные части (образцы промышленных изделий, оборудование, приборы, предназначенные предприятиям, организациям);
                    крупногабаритные вещи и предметы домашнего обихода (размеры которых превышают 500×500×1000 мм); телевизоры, магнитофоны, радиоприемники массой свыше 10 кг.
                </li>
            </ul>
        </div>
        <hr>
        <button class="fs-4 collapsible my-2 d-flex align-items-center justify-content-between" type="button">
            Повреждение и утрата багажа
            <svg id="arrow" fill="none" height="50px" stroke="#000000" transform="rotate(90)" viewBox="0 0 24 24" width="50px" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M7 10L12 15L17 10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6799999999999997"/>
                </g>
            </svg>
        </button>
        <div class="content">
            <h1>Повреждение багажа</h1>
            <p>Если при получении багажа Вы обнаружили в нем какие-то неисправности: багаж поврежден или в нем недостает части содержимого, обратитесь к сотруднику аэропорта, который будет присутствовать при выдаче багажа и объяснит Вам порядок последующих действий.</p>
            <p>С заявлением о неисправности в багаже Вам необходимо обратиться:</p>
            <ul>
                <li>не покидая таможенную зону прибытия аэропорта (если Вы прибыли из-за границы);</li>
                <li>не покидая зоны выдачи багажа (если Вы прибыли рейсом внутренних воздушных линий).</li>
            </ul>
            <p>При несоблюдении указанных условий решение о составлении акта принимает Ваша авиакомпания-перевозчик.</p>
            <p>Повреждения багажа могут быть видимыми и невидимыми, а также могут быть повреждения содержимого багажа. Пассажиру компенсируются лишь видимые повреждения. При обнаружении повреждения багажа пассажир должен обратиться к агенту отдела выдачи багажа (зона выдачи багажа) и проследовать с
                ним
                для оформления соответствующих документов.</p>

            <h1>Утрата багажа</h1>
            <p>Если после окончания выдачи багажа с Вашего рейса Вы не обнаружите свой багаж, обратитесь к персоналу аэропорта, где Вам укажут порядок дальнейших действий. В большинстве случаев багаж досылается авиакомпанией-перевозчиком в течение пяти дней после заявления о неприбытии багажа.</p>
            <p class="fw-bold">Диспетчер по розыску багажа: +7 (423) 230-68-43, +7 (924) 730 0362;</p>
            <p>Часы работы: с 08:00 до 19:30</p>
        </div>
    </div>
{% endblock %}