{% extends '../products/base.html' %}
{% load static %}

{% block medicalCare %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 45) * (60vw - 320 * 1px)/ (1920 - 320));">Медицинский пункт</h1>

        <div class="content">
            <p>Медицинский пункт расположен на первом этаже аэровокзала в левом крыле у входа в зону выдачи багажа международных линий.</p>

            <p>График работы – круглосуточно. Медпункты оснащены всем необходимым оборудованием для оказания первой медицинской помощи.</p>

            <p>Специалисты медпункта проконсультируют пассажиров по вопросам медицинских противопоказаний при пользовании воздушным транспортом. Сотрудники медпункта организуют доставку на борт и с борта воздушного судна больных и малоподвижных пассажиров на машине скорой помощи в сопровождении медицинского работника.</p>

            <p>Телефон медицинского пункта: +7 (423) 230-69-03, +7 (423) 230-69-04.</p>
        </div>
    </div>
{% endblock %}
