{% extends '../products/base.html' %}
{% load static %}

{% block motherChildRoom %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 45) * (60vw - 320 * 1px)/ (1920 - 320));">Комната матери и ребенка</h1>

        <div class="content">
            <p>Комната расположена на третьем этаже в правом крыле аэровокзала.</p>

            <p>Комната матери и ребенка предназначена для пребывания пассажиров с детьми до 7 лет. К их услугам — спальня с 8 кроватями и с оборудованными местами для пеленания, игровая комната, туалетные комнаты, кухня, комната для посетителей. Игровая комната для детей оснащена различными детскими развлекательными комплексами и игрушками. Кухня оборудована всем необходимым для кормления и хранения пищи, имеется холодильник, микроволновая печь.</p>

            <p>Посетителям окажет необходимую помощь квалифицированный обслуживающий персонал.</p>

            <p>Чтобы воспользоваться услугами комнаты матери и ребенка, пассажирам необходимо иметь с собой паспорт, билет, свидетельство о рождении ребенка.</p>

            <p>Комната матери и ребенка принимает маленьких пассажиров и их родителей за 3 часа до вылета их рейса. Вход в комнату разрешен с ручной кладью. Для багажа в аэровокзальном комплексе предусмотрена камера хранения.</p>

            <p>Время работы — круглосуточно. Пользование комнатами матери и ребенка бесплатно.</p>

            <p>Контактный телефон: +7 (423) 230-68-66</p>

            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/motherChildRoom/1.jpg' }}" alt="">
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/motherChildRoom/2.jpg' }}" alt="">

        </div>
    </div>
{% endblock %}
