{% extends '../products/base.html' %}
{% load static %}

{% block transitAssistance %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 85) * (60vw - 320 * 1px)/ (1920 - 320));">Обслуживание транзитных и трансферных пассажиров</h1>

        <div class="content">
            <p>Обслуживание трансферных пассажиров и багажа, следующих внутренними и международными рейсами через аэропорт «Владивосток», осуществляется в зоне трансфера и транзита АВК в соответствии с «Технологией обслуживания трансферных пассажиров (транзитных) пассажиров, следующих через аэропорт «Владивосток».</p>

            <p>По прибытии в здание аэровокзала, транзитные пассажиры по указателям (баннерам) следуют на 2-ой этаж в транзитную зону к стойке «транзит». У стойки «транзит» агент по организации и обслуживанию пассажирских перевозок просит пассажира предъявить посадочный талон, проверяет номер рейса и отмечает транзитного пассажира в списке, информирует пассажира о необходимости сохранения посадочного талона и багажной бирки, о расположении зала повышенной комфортности и порядке следования на посадку, выдает пассажиру карточку «Транзит», доводит информацию о времени начала посадки и номер выхода на посадку.</p>

            <p>В случае если транзитный пассажир не желает находиться в зале ожидания стерильной зоны агент по СОАП информирует транзитного пассажира о необходимости повторного прохождения предполётного досмотра.</p>

            <p>По согласованию с экипажем транзитным пассажирам, требующим специального обслуживания (маломобильные, несопровождаемые дети), может быть разрешено остаться на борту ВС на время стоянки. В случае отсутствия такой возможности дежурная по обслуживанию маломобильных пассажиров КММП совместно с приёмосдатчиками ОСОП обеспечивает встречу и сопровождение транзитных маломобильных пассажиров в здание аэровокзала, а также их обратную доставку на борт ВС.</p>

            <p>Багаж транзитных пассажиров не выгружается с борта ВС, во время стоянки ВС багаж находится под ответственностью экипажа. Транзитным пассажирам предоставляются те же места на борту ВС, на которых они следовали из аэропорта первоначального отправления.</p>

            <p>Оформление трансферных пассажиров и их багажа в аэропорту первоначального вылета «Владивосток» осуществляется агентом по СОАП при наличии подтвержденного бронирования на стыковочный рейс.</p>

            <h2>Основные принципы сквозной регистрации:</h2>
            <ul>
                <li>Наличие интерлайн-соглашений между авиакомпаниями.</li>
                <li>Подтвержденное бронирование в билете трансфертного пассажира по всему маршруту следования.</li>
                <li>Документы, действительные на въезд во все пункты трансфера и пункт назначения в соответствии с требованиями местных иммиграционных властей.</li>
                <li>Время стыковки – не более 24 часов между рейсами.</li>
                <li>Наличие технической возможности доступ в АСУ стыковочного рейса при регистрации пассажира в АСУ аэропорта отправления (Владивосток).</li>
            </ul>

            <p>Запрещено осуществлять сквозную регистрацию, если в пункте стыковки трансферные рейсы выполняются из разных аэропортов.</p>

            <p>Багаж трансферного пассажира агент по СОАП оформляет до конечного пункта следования, если это не противоречит законам страны стыковки, и если пассажир не высказывает желания получить багаж в пункте трансфера.</p>
        </div>
    </div>
{% endblock %}
