{% extends '../products/base.html' %}
{% load static %}

{% block unaccompaniedMinors %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 70) * (60vw - 320 * 1px)/ (1920 - 320));">Обслуживание несопровождаемых детей</h1>

        <div class="content">
            <p>Несопровождаемый ребёнок находится под постоянным наблюдением агента по СОАП с момента принятия ребёнка у родителей до момента передачи его под ответственность старшего бортпроводника (при отправке) и с момента принятия ребёнка у старшего бортпроводника до момента передачи его родителям (по прибытии рейса).</p>

            <p>Несопровождаемый ребенок принимается к перевозке только после оформления родителями «Соглашения (заявки) на перевозку несопровождаемого ребенка».</p>

            <h2>Требования к документам</h2>
            <ul>
                <li>Для осуществления перевозки ВВЛ несопровождаемый пассажир (UM) должен иметь:</li>
                <ol>
                    <li>Действительный билет.</li>
                    <li>Свидетельство о рождении или паспорт (для UM старше 14 лет).</li>
                    <li>«Соглашение (заявка) на перевозку несопровождаемого ребенка».</li>
                </ol>
            </ul>

            <h2>Паспортный контроль</h2>
            <p>Для прохождения паспортного контроля для выезда за пределы РФ согласно требованиям отдела пограничной службы несопровождаемому ребенку требуется:</p>
            <ul>
                <li>При выезде в страны СНГ:</li>
                <ol>
                    <li>Действительный билет.</li>
                    <li>Свидетельство о рождении (внутренний или заграничный паспорт, если ребенок их имеет).</li>
                    <li>«Соглашение (заявка) на перевозку несопровождаемого ребенка».</li>
                    <li>Заверенное нотариусом «Согласие родителей/опекунов» на выезд несопровождаемого ребенка с указанием срока выезда и государства, которое намерен посетить.</li>
                    <li>Виза (при необходимости).</li>
                </ol>
                <li>При выезде в страны дальнего зарубежья:</li>
                <ol>
                    <li>Действительный билет.</li>
                    <li>Заграничный паспорт.</li>
                    <li>Виза (при необходимости).</li>
                    <li>«Соглашение (заявка) на перевозку несопровождаемого ребенка».</li>
                    <li>Заверенное нотариусом «Согласие родителей/опекунов» на выезд несопровождаемого ребенка с указанием срока выезда и государства, которое намерен посетить.</li>
                </ol>
            </ul>

            <p>Обращаем Ваше внимание, что в соответствии с Федеральным законом от 15 ноября 1997 г. № 143-ФЗ "Об актах гражданского состояния", самостоятельно заламинированные документы, удостоверяющие личность, считаются недействительными и подлежат замене.</p>
        </div>
    </div>
{% endblock %}
