{% extends '../products/base.html' %}
{% load static %}

{% block vipHall %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 45) * (60vw - 320 * 1px)/ (1920 - 320));">VIP-зал</h1>

        <div class="content">
            <p>В VIP-зале Международного аэропорта Владивосток созданы все условия для тех, кто ценит свое время и комфорт. Здесь время в ожидании полета Вы можете провести в атмосфере спокойного отдыха или использовать его для проведения деловых переговоров и встреч.</p>
            <div class="row">
                <img class="rounded-5 my-3 col-6" src="{{ '../../media/vipHall/1.jpg' }}" alt="">
                <img class="rounded-5 my-3 col-6" src="{{ '../../media/vipHall/2.jpg' }}" alt="">
            </div>
            <p>Отличное понимание принципов первоклассного сервиса — одна из ключевых профессиональных компетенций наших сотрудников. Доверив им заботу о соблюдении всех формальностей, связанных с оформлением полета, Вы можете спокойно заняться более важными делами.</p>
            <p>Схема проезда до VIP-зала</p>
            <img class="rounded-4 my-3" style="width: 50%;" src="{{ '../../media/vipHall/3.jpg' }}" alt="">

            <p><strong>Аренда помещений:</strong></p>
            <ul>
                <li>Аренда конференц-зала, 2 этаж, 30 посадочных мест. Стоимость: 23 000 руб.</li>
                <img class="rounded-4 my-3" style="width: 40%;" src="{{ '../../media/vipHall/4.png' }}" alt="">
                <li>Аренда губернаторской комнаты, 2 этаж (2 комнаты, душ, туалет) 10-12 посадочных мест. Стоимость: 18 000 руб.</li>
                <img class="rounded-4 my-3" style="width: 32%;" src="{{ '../../media/vipHall/5.png' }}" alt="">
                <img class="rounded-4 my-3" style="width: 32%;" src="{{ '../../media/vipHall/6.png' }}" alt="">
                <li>Аренда комнаты переговоров, 1 этаж (душ, туалет) 10 посадочных мест. Стоимость: 11 500 руб.</li>
                <img class="rounded-4 my-3" style="width: 32%;" src="{{ '../../media/vipHall/8.png' }}" alt="">
                <img class="rounded-4 my-3" style="width: 32%;" src="{{ '../../media/vipHall/9.png' }}" alt="">

            </ul>

            <p>VIP-зал расположен в левом крыле Терминала А.</p>

            <p>Комплекс услуг предусматривает максимальный сервис для особо важных клиентов:</p>
            <ul>
                <li>встреча пассажира (или группы пассажиров) у трапа самолета;</li>
                <li>регистрация, оформление багажа и предполетный досмотр в VIP-зале;</li>
                <li>доставка багажа пассажира в VIP-зал;</li>
                <li>отдельное прохождение всех пред- и послеполетных формальностей;</li>
                <li>Wi-Fi (при наличии технической возможности), телевидение, пресса;</li>
                <li>доставка пассажира спецтранспортом от самолета к VIP-залу.</li>
            </ul>

            <p><strong>Дополнительные услуги:</strong></p>
            <ul>
                <li>аренда конференц-зала;</li>
                <li>аренда комнат переговоров;</li>
                <li>техническое оснащение деловых мероприятий;</li>
                <li>услуги бара;</li>
            </ul>

            <p><strong>Стоимость услуг VIP-зала:</strong></p>
            <ul>
                <li>Обслуживание 1 пассажира на ВЫЛЕТ – 20 000 рублей</li>
                <li>Обслуживание 1 пассажира на ПРИЛЕТ – 15 000 рублей</li>
            </ul>

            <p><strong>Оформление VIP-зала:</strong></p>
            <ul>
                <li>Телефон: +7 (924) 730-40-46</li>
                <li>Телефон/факс: +7 (423) 230-67-99</li>
            </ul>
        </div>
    </div>
{% endblock %}
