{% extends '../products/base.html' %}
{% load static %}

{% block waitingRoom %}
    <div class="container mt-4">
        <div class="fw-medium m-3">
            <ul class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumbsItem"><a class="" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h1 class="m-4" style="font-size: calc(1px + (260 - 45) * (60vw - 320 * 1px)/ (1920 - 320));">Залы повышенной комфортности</h1>

        <div class="content">
            <p>Залы повышенной комфортности Международного аэропорта Владивосток предназначены для создания максимального комфорта и удобства пассажиров. Расположены Залы повышенной комфортности на третьем этаже аэровокзала в зоне вылета внутренних (ВВЛ) и международных авиалиний (МВЛ).</p>

            <p>К услугам пассажиров Залов повышенной комфортности ВВЛ и МВЛ:</p>
            <ul>
                <li>комфортный зал ожидания;</li>
                <li>ассортимент печатной продукции;</li>
                <li>телевизионные программы (более 300 ТВ программ);</li>
                <li>принтер, ксерокс, факс;</li>
                <li>бесплатный Wi-Fi (при наличии технической возможности);</li>
                <li>современная детская комната;</li>
                <li>шведский стол;</li>
                <li>доставка к воздушному судну отдельным транспортом, если посадка на борт воздушного судна не осуществляется через телетрап;</li>
            </ul>

            <p>Услугами Залов повышенной комфортности за оплату могут воспользоваться все пассажиры, независимо от класса обслуживания и авиакомпании.</p>

            <p><strong>Стоимость посещения Залов повышенной комфортности ВВЛ и МВЛ:</strong></p>

            <p><strong>Бизнес зал</strong></p>
            <p>максимальное время пребывания – 3 часа</p>
            <ul>
                <li>1 пассажир (от 12 лет и старше) – 3 700 рублей</li>
                <li>1 пассажир (от 2 до 12 лет) – 1 850 рублей</li>
                <li>Тариф "Семейный" (до 4-х человек, включая детей в возрасте до 12 лет) – 7 500 рублей</li>
                <li>Обслуживание детей в возрасте до 2-х лет осуществляется бесплатно</li>
                <li>* Акция в Бизнес зале МВЛ: 1 пассажир (от 12 лет и старше) – 3 100 рублей (по 31.05.2024 г.)</li>
            </ul>
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/1.jpg' }}" alt="">
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/2.jpg' }}" alt="">
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/3.jpg' }}" alt="">
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/4.jpg' }}" alt="">

            <p><strong>Зал Приорити</strong></p>
            <p>максимальное время пребывания – 2 часа</p>
            <ul>
                <li>1 пассажир (от 2 лет и старше) – 2 100 рублей</li>
                <li>1 пассажир (от 2 лет и старше) – 1 600 рублей (на период с 01.06.2023 г. по 31.05.2024 г.) для пассажиров, предъявивших флаер</li>
            </ul>
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/5.jpg' }}" alt="">
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/6.jpg' }}" alt="">
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/7.jpg' }}" alt="">
            <img class="rounded-4 my-3" style="width: 45%;" src="{{ '../../media/waitingRoom/8.jpg' }}" alt="">


            <p>Зал повышенной комфортности доступен для посещения участниками программ для путешественников:</p>
            <ul>
                <li>Grey Wall Pass</li>
                <li>Persona.aero</li>
                <li>ONPASS</li>
                <li>Golden Key</li>
                <li>Comfort Pass</li>
                <li>EveryLounge</li>
                <li>Ruspriority</li>
                <li>DreamFolks</li>
                <li>Dragon Pass</li>
            </ul>

            <p>Правила получения услуги по программе для путешественников уточняйте в службе поддержки Вашей программы лояльности.</p>

            <p><strong>* Обслуживание программ Priority Pass и LoungeKey временно приостановлено.</strong></p>
        </div>
    </div>
{% endblock %}
