{% extends './passengersBase.html' %}
{% load static %}

{% block about %}
    <div class="col-12">
        <h2>Международный аэропорт Владивосток (АО “МАВ”)</h2>

        <div class="my-3">
            <p>АО “Международный аэропорт Владивосток” (АО “МАВ") занимает важное место в авиационной инфраструктуре Дальнего Востока России и имеет стратегическое значение в региональной системе авиаперевозок. Расположенный на пересечении воздушных маршрутов между Дальним Востоком России и странами
                Азиатско-Тихоокеанского региона (АТР), аэропорт занимает первое место по числу пассажиров среди всех дальневосточных аэропортов.</p>
        </div>

        <img alt="" class="img-fluid mb-3" src="{{ '../../media/about/NewUHWWterminal.jpg' }}">

        <div class="my-3">
            <p>В 2022 году аэропорт Владивосток обслужил значительное количество пассажиров, достигнув отметки в 2,118 миллиона человек. Сеть маршрутов аэропорта составляет около 45 направлений, что позволяет осуществлять полеты на лучших российских и азиатских авиалиниях, таких как “Аэрофлот",
                “Россия", S7 Airlines, “Аврора", “Якутия", “Уральские авиалинии", “ИрАэро", Pegas Fly, “РОЯЛ ФЛАЙТ", Azur Air, Korean Air, Air Koryo, Uzbekistan Airways и другие.</p>
        </div>

        <div class="my-3">
            <p>Одной из главных целей аэропорта является постоянное улучшение качества обслуживания пассажиров и авиакомпаний. Для этого АО “МАВ” регулярно вкладывает средства в развитие производственной инфраструктуры, приобретение специализированной авиационной и аэродромной техники, сертификацию
                новых видов деятельности и внедрение инновационных услуг.</p>
        </div>

        <div class="my-3">
            <p>Стремительные изменения и модернизация аэродромной инфраструктуры, включая строительство нового терминала, были проведены после того, как в сентябре 2012 года аэропорт Владивостока получил честь стать официальным воздушным портом саммита Азиатско-Тихоокеанского экономического
                сотрудничества (АТЭС).</p>
        </div>

        <img alt="" class="img-fluid mb-3" src="{{ '../../media/about/scale_2400.webp' }}">

        <div class="my-3">
            <p>Каждый год, начиная с 2015 года, аэропорт Владивосток рад приветствовать участников Восточного экономического форума. Это мероприятие направлено на привлечение иностранных инвестиций в Дальний Восток России и поощрение экономического сотрудничества в АТР. На сегодняшний день аэропорт
                обладает допуском для приема всех категорий воздушных судов и классификацией II ИКАО, что подчеркивает его важность и уровень технической готовности.</p>
        </div>

        <div class="my-3">
            <p>Новый терминальный комплекс соответствует стандарту «С» по классификации Международной ассоциации воздушного транспорта (ИАТА), и его пропускная способность составляет 1360 человек в час.</p>
        </div>

        <div class="my-3">
            <p>Аэропорт Владивосток гордится своей безупречной репутацией в области безопасности. Он регулярно проходит аудит соответствия мировым стандартам безопасности ISAGO, предоставляемому Международной ассоциацией воздушного транспорта (IATA). Комплексная оценка основных параметров стандарта
                ISAGO проводится каждые два года, подтверждая высокий стандарт безопасности аэропорта.</p>
        </div>

        <img alt="" class="img-fluid mb-3" src="{{ '../../media/about/1524383_original.jpg' }}">

        <div class="my-3">
            <p>В 2018 году Международный аэропорт Владивосток присоединился к федеральному проекту «Великие имена России», получив почетное имя в честь выдающегося исследователя Дальнего Востока - Владимира Арсеньева.</p>
        </div>

        <div class="my-3">
            <p>С каждым годом маршрутная сеть аэропорта расширяется, предоставляя путешественникам новые возможности. В 2018 году была введена в эксплуатацию трансферная зона, упрощающая процесс пересадки для международных пассажиров и облегчая поток транзитных путешественников.</p>
        </div>

        <div class="my-3">
            <p>Аэропорт Владивосток
                также активно поддерживает программы по защите редких видов животных, организуя социальные акции и привлекая внимание к важности сохранения амурских тигров и дальневосточных леопардов. Скульптура дальневосточного леопарда на привокзальной площади аэропорта напоминает всем о
                значимости усилий по сохранению и восстановлению численности этих уникальных животных на территории Дальнего Востока.</p>
        </div>
    </div>
{% endblock %}
