{% extends './passengersBase.html' %}
{% load static %}

{% block airlines %}
    <div class="col-9">
        <div class="" tabindex="0">
            <h2>Авиакомпании</h2>
            <div class="px-5 my-3">
                <h3>Представительства авиакомпаний</h3>

                <p><strong>«Аэрофлот»</strong><br>
                    Тел.: +7 (800) 444-5555 (бесплатная справочная служба)<br>
                    E-mail: <a href="mailto:vvotosu@aeroflot.ru">vvotosu@aeroflot.ru</a><br>
                    Сайт: <a href="https://www.aeroflot.ru">www.aeroflot.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«Авиакомпания «Аврора»</strong><br>
                    Тел.: +7 (423) 278-78-88; +7 (423) 230-73-43; +7 (800) 250-49-88 (бесплатная справочная служба)<br>
                    Тел. представительства: +7 (423) 230-76-72<br>
                    E-mail: <a href="mailto:contact-center@flyaurora.ru">contact-center@flyaurora.ru</a><br>
                    Сайт: <a href="https://www.flyaurora.ru">www.flyaurora.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«S7 AIRLINES»</strong> («Авиакомпания Сибирь»)<br>
                    Тел.:<br>
                    E-mail: <a href="mailto:vvo.ap@s7.ru">vvo.ap@s7.ru</a><br>
                    Сайт: <a href="https://www.s7.ru">www.s7.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«Россия»</strong><br>
                    Тел.: +7 (423) 262-10-08 доб.433; +7 (423) 262-10-05 доб.100<br>
                    E-mail: <a href="mailto:vvotosu@aeroflot.ru">vvotosu@aeroflot.ru</a><br>
                    Сайт: <a href="https://www.rossiya-airlines.com">www.rossiya-airlines.com</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«Уральские авиалинии»</strong><br>
                    Тел.: +7 (800) 770-02-62<br>
                    E-mail: <a href="mailto:vvo@u6.ru">vvo@u6.ru</a><br>
                    Сайт: <a href="https://www.uralairlines.ru">www.uralairlines.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«НордСтар»</strong><br>
                    Тел.: +7 (914) 728-78-99<br>
                    E-mail: <a href="mailto:tranzit-dv22@rambler.ru">tranzit-dv22@rambler.ru</a><br>
                    Сайт: <a href="https://www.nordstar.ru">www.nordstar.ru</a></p>

                <p><strong>«ИрАэро»</strong><br>
                    Тел.:<br>
                    E-mail: <a href="mailto:eastjet@mail.ru">eastjet@mail.ru</a><br>
                    Сайт: <a href="https://www.iraero.ru">www.iraero.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«СиЛА»</strong><br>
                    Сайт: <a href="https://www.sila-aero.ru">www.sila-aero.ru</a></p>

                <p><strong>«Хабаровские авиалинии»</strong><br>
                    E-mail: <a href="mailto:info@khabavia.ru">info@khabavia.ru</a>, <a href="mailto:contact-center@flyaurora.ru">contact-center@flyaurora.ru</a><br>
                    Тел.: +7 (423) 230-76-72<br>
                    Сайт: <a href="https://khabavia.ru">http://khabavia.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«Икар»</strong><br>
                    Тел.:<br>
                    E-mail: <a href="mailto:eastjet@mail.ru">eastjet@mail.ru</a><br>
                    Сайт: <a href="https://www.pegasfly.com">www.pegasfly.com</a></p>

                <p><strong>«АЗУР эйр»</strong><br>
                    Тел:<br>
                    E-mail: <a href="mailto:eastjet@mail.ru">eastjet@mail.ru</a><br>
                    Сайт: <a href="https://www.azurair.com">www.azurair.com</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«РОЯЛ ФЛАЙТ»</strong><br>
                    Тел.: +7 (914) 728-78-99<br>
                    E-mail: <a href="mailto:tranzit-dv22@rambler.ru">tranzit-dv22@rambler.ru</a><br>
                    Сайт: <a href="https://www.royalflight.ru">www.royalflight.ru</a></p>

                <p><strong>«Якутия»</strong><br>
                    Тел.: +7 (914) 728-78-99<br>
                    E-mail: <a href="mailto:tranzit-dv22@rambler.ru">tranzit-dv22@rambler.ru</a><br>
                    Сайт: <a href="https://www.yakutia.aero">www.yakutia.aero</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«Air Koryo»</strong><br>
                    Тел.: +7 (914) 663-55-50<br>
                    E-mail: <a href="mailto:airkoryoinvvo@mail.ru">airkoryoinvvo@mail.ru</a></p>

                <p><strong>«China Southern Airlines»</strong><br>
                    E-mail: <a href="mailto:chinasouthernvladivostok@gmail.com">chinasouthernvladivostok@gmail.com</a></p>

                <p><strong>«Korean Air»</strong><br>
                    Тел.: +7 423 239-59-66<br>
                    E-mail: <a href="mailto:VVOKK@koreanair.com">VVOKK@koreanair.com</a><br>
                    Сайт: <a href="https://www.koreanair.com">www.koreanair.com</a></p>

                <p><strong>«Uzbekistan Airways»</strong><br>
                    Тел.:<br>
                    E-mail: <a href="mailto:eastjet@mail.ru">eastjet@mail.ru</a><br>
                    Сайт: <a href="https://www.uzairways.com">www.uzairways.com</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«JEJU AIR»</strong><br>
                    Тел.: +7 (423) 294-93-58<br>
                    E-mail: <a href="mailto:7c5101@gmail.com">7c5101@gmail.com</a></p>

                <p><strong>«T’way Air»</strong><br>
                    Тел.: +7 (423) 376-75-20, +7 (984) 151-81-10<br>
                    Сайт: <a href="https://www.twayair.com">www.twayair.com</a></p>

                <p><strong>«Air Busan»</strong><br>
                    Тел.: +7 (423) 240-70-97<br>
                    E-mail: <a href="mailto:bx601543@airbusan.com">bx601543@airbusan.com</a><br>
                    Сайт: <a href="https://www.airbusan.com">www.airbusan.com</a><br>
                    Расположение: Владивосток, ЛОТТЕ Отель Владивосток, 6 этаж, оф. 610</p>

                <p><strong>«Сhina Express»</strong><br>
                    Тел.: +7 (495) 755-94-02<br>
                    E-mail: <a href="mailto:handling@cpdu.ru">handling@cpdu.ru</a><br>
                    Сайт: <a href="https://www.chinaexpressair.com">www.chinaexpressair.com</a></p>

                <p><strong>«Japan Airlines»</strong><br>
                    E-mail: <a href="mailto:org.vvokku.jali@jal.com">org.vvokku.jali@jal.com</a><br>
                    Сайт: <a href="https://www.jal.co.jp">www.jal.co.jp</a></p>

                <p><strong>«All Nippon Airways»</strong><br>
                    Тел.:<br>
                    E-mail: <a href="mailto:vvosales@ana.co.jp">vvosales@ana.co.jp</a><br>
                    Сайт: <a href="https://www.ana.co.jp">www.ana.co.jp</a></p>

                <p><strong>«Северный ветер»</strong><br>
                    Тел.:<br>
                    E-mail: <a href="mailto:eastjet@mail.ru">eastjet@mail.ru</a><br>
                    Сайт: <a href="https://www.nordwindairlines.ru">www.nordwindairlines.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«Ай Флай»</strong><br>
                    Тел.:<br>
                    E-mail: <a href="mailto:eastjet@mail.ru">eastjet@mail.ru</a><br>
                    Сайт: <a href="https://www.iflyltd.ru">www.iflyltd.ru</a><br>
                    Расположение: Аэропорт, Терминал А, 2 этаж</p>

                <p><strong>«Hunnu Air»</strong><br>
                    E-mail: <a href="mailto:kas.vvo45@gmail.com">kas.vvo45@gmail.com</a><br>
                    Сайт: <a href="https://www.hunnuair.com">www.hunnuair.com</a></p>
            </div>
        </div>
    </div>
{% endblock %}
