{% extends './passengersBase.html' %}
{% load static %}

{% block career %}
    <div class="col-9">
        <div class="" tabindex="0">
            <h2>Карьера</h2>
            <div class="px-5 my-3">
                <p>
                    Мы приветствуем всех, кто желает присоединиться к команде профессионалов АО «МАВ», и предлагаем ознакомиться в разделе «Вакансии» с перечнем открытых вакансий нашей Компании. Если Вас заинтересовала какая-либо вакансия, пожалуйста:
                </p>
                <ol>
                    <li>заполните Анкету кандидата</li>
                    <li>отправьте анкету по адресу: <a href="mailto:job@vvo.aero">job@vvo.aero</a></li>
                    <li>позвоните по телефону: <a href="tel:+7%20(423)%20230-69-66">+7 (423) 230-69-66</a></li>
                </ol>
                <p>
                    Мы ознакомимся с анкетными данными и, в случае соответствия требованиям вакансии, обязательно с Вами свяжемся.
                </p>
                <p>
                    Если Вы не нашли нужную вакансию, заявите о себе на интересующую позицию и мы обязательно сохраним Ваше резюме и свяжемся с Вами, в случае, если такая вакансия откроется.
                </p>
                <p>Документы для скачивания:</p>
                <ul>
                    <li><a href="{% static '/assets/files/anketa.pdf' %}" download>Анкета</a></li>
                    <li><a href="{% static '/assets/files/anketa.pdf' %}" download>Анкета</a></li>
                </ul>
                <p>
                    Документы, предъявляемые при заключении трудового договора:
                </p>
                <ul>
                    <li>документ, подтверждающий наличие (отсутствие) судимости и (или) факта уголовного преследования либо о прекращении уголовного преследования, в соответствии с Приказом МВД РФ от 07.11.2011 г. №1121;</li>
                    <li>документ, подтверждающий отсутствие административного наказания за потребление наркотических средств или психотропных веществ без назначения врача либо новых потенциально опасных психоактивных веществ, до окончания срока, в течение которого лицо считается подвергнутым административному наказанию;</li>
                    <li>паспорт или иной документ удостоверяющий личность;</li>
                    <li>трудовая книжка, за исключением случаев, когда трудовой договор заключается впервые;</li>
                    <li>страховое свидетельство государственного пенсионного страхования;</li>
                    <li>документы воинского учета - для военнообязанных и лиц, подлежащих призыву на военную службу;</li>
                    <li>документ об образовании, о квалификации или наличии специальных знаний — при поступлении на работу, требующую специальных знаний или специальной подготовки;</li>
                    <li>анкета кандидата;</li>
                    <li>заявление о приеме на работу;</li>
                    <li>согласие на обработку персональных данных;</li>
                    <li>заключение медкомиссии.</li>
                </ul>
                <p>
                    Собеседования проводятся в будние дни по адресу:
                </p>
                <p>
                    Приморский край, г. Артем, ул. Владимира Сайбеля 41, Штаб АО «Международный аэропорт Владивосток» (старый аэропорт, трёхэтажное здание, 1 этаж)
                </p>
                <p>
                    Отдел по подбору, оценке и адаптации персонала
                </p>
                <p>
                    Прием кандидатов с 09.00 до 12.00 и с 13.00 до 16.00.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
