{% extends './passengersBase.html' %}
{% load static %}

{% block contacts %}
    <div class="col-9">
        <div class="" tabindex="0">
            <h2>Контакты</h2>
            <div class="px-5 my-3">
                <p>
                    <strong>Почтовый адрес:</strong><br>
                    АО «Международный аэропорт Владивосток»<br>
                    692756, Приморский край, г. Артем, ул. Владимира Сайбеля, 41.
                </p>
                <p>
                    <strong>Круглосуточная справочная служба:</strong> <a href="tel:+74232306909">+7 (423) 230-69-09</a>
                </p>
                <p>
                    <strong>Приемная:</strong><br>
                    Телефон: <a href="tel:+74232306999">+7 (423) 230-69-99</a><br>
                    Факс: <a href="tel:+74232306906">+7 (423) 230-69-06</a>, <a href="mailto:via@vvo.aero">via@vvo.aero</a>
                </p>
                <p>
                    <strong>Канцелярия:</strong><br>
                    Телефон: <a href="tel:+74232306890">+7 (423) 230-68-90</a><br>
                    Факс: <a href="tel:+74232306891">+7 (423) 230-68-91</a>
                </p>
                <p>
                    <strong>Отдел кадров:</strong><br>
                    Телефон: <a href="tel:+74232306965">+7 (423) 230-69-65</a>
                </p>
                <p>
                    <strong>Служба управления персоналом:</strong><br>
                    Телефон: <a href="tel:+74232306964">+7 (423) 230-69-64</a>
                </p>
                <p>
                    <strong>Отдел по подбору, оценке и адаптации персонала:</strong><br>
                    Телефон: <a href="tel:+74232306966">+7 (423) 230-69-66</a>
                </p>
                <p>
                    <strong>Пресс-служба:</strong><br>
                    Телефон: <a href="tel:+74232306905">+7 (423) 230-69-05</a>
                </p>
                <p>
                    <strong>Служба закупок</strong>
                </p>
                <p>
                    <strong>Бочкаева Оксана Викторовна</strong><br>
                    ведущий специалист ООКП,<br>
                    телефон: <a href="tel:+74232306951">+7 (423) 230-69-51</a><br>
                    электронная почта: <a href="mailto:zakupki@vvo.aero">zakupki@vvo.aero</a>
                </p>
                <p>
                    <strong>Олеся Сергеевна Кудренко</strong><br>
                    Начальник службы материально-технического обеспечения<br>
                    Телефон: <a href="tel:+74232306973">+7 (423) 230-69-73</a><br>
                    Сотовый телефон: <a href="tel:+79247300238">+7 (924) 730-02-38</a><br>
                    Электронная почта: <a href="mailto:KudrenkoOS@vvo.aero">KudrenkoOS@vvo.aero</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
