{% extends './passengersBase.html' %}
{% load static %}

{% block forMedia %}
    <div class="col-9">
        <div class="" tabindex="0">
            <h2>Порядок организации съемок на территории аэропорта</h2>
            <div class="px-5 my-3">
                <p>
                    Уважаемые представители СМИ!
                    <br>
                    Руководство АО «Международный аэропорт Владивосток» рассматривает заявки на организацию фото-, видео- и киносъемок на территории аэропорта и принимает решение о возможности проведения съемок в соответствии с установленным порядком.
                </p>
            </div>

            <h5 class="px-4 mt-4">Порядок подачи заявок на организацию съемок (в том числе коммерческих) на территории аэропорта</h5>
            <div class="px-5 my-3">
                <ul>
                    <li>Организатору съемок от СМИ необходимо связаться с пресс-службой аэропорта по тел.: <a href="tel:+7%20(423)%20230-69-05">+7 (423) 230-69-05</a> или по электронной почте <a href="mailto:pr@vvo.aero">pr@vvo.aero</a> для обсуждения целей работы на территории аэропорта,
                        предварительного определения зон и времени съемок.
                    </li>
                    <li>
                        Заявку, на проведение съемок, необходимо направить не менее чем за 3 рабочих дня до даты ее проведения. Если съемка планируется в зонах ограниченного доступа, заявка подается не менее чем за 5 рабочих дней.
                        <br>
                        Заявка оформляется на имя генерального директора АО "МАВ", Чмутова Дениса Львовича, на фирменном бланке юридического лица (редакции, телекомпании) с печатью и подписью руководителя.
                        <br>
                        В заявке необходимо указать цель, время, длительность и место проведения фото- и видеосъемки, состав съемочной группы с указанием паспортных данных (если съемки проводятся в зонах с ограничениями), список аппаратуры, контактные данные ответственного лица.
                        <br>
                        Также необходимо заполнить заявку на получение пропусков.
                        <br>
                        <a href="/assets/files/press-center/propusk%20VVL.docx">
                            Образец заявки на пропуска в ВВЛ !!!!файл скачать!!! надо сделать</a>
                        <br>
                        <a href="/assets/files/press-center/propusk%20MVL.docx">
                            Образец заявки на пропуска в МВЛ !!!!файл скачать!!! надо сделать</a>
                        <br>
                        Запросы и заявки на пропуска принимаются на адрес <a href="mailto:pr@vvo.aero">pr@vvo.aero</a> в виде скан-копий, заверенных печатью и подписью руководителя СМИ.
                    </li>
                    <li>
                        В случае, если съемка будет проводиться в зоне пограничного и таможенного контроля (съемки международных рейсов, залы вылета/прилета международных рейсов), запросы и заявки на пропуска направляются для согласования во Владивостокскую таможню и Пограничное Управление ФСБ
                        России по Приморскому краю через пресс-службы этих ведомств не менее, чем за пять рабочих дней до даты съемки.
                        <br>
                        Согласованные руководителями таможенного и пограничного постов, заявки на пропуска и запрос на имя генерального директора аэропорта, принимаются в виде скан-копий на адрес <a href="mailto:pr@vvo.aero">pr@vvo.aero</a> за три рабочих дня до планируемых съемок.
                    </li>
                    <li>Для организации съемок в неконтролируемой (общей зоне) организатору съемок необходимо направить в электронном виде запрос на имя генерального директора аэропорта на адрес <a href="mailto:pr@vvo.aero">pr@vvo.aero</a>. Оформления пропусков не требуется. Съемка проводится в
                        сопровождении сотрудника аэропорта.
                    </li>
                    <li>Информацию о решении, принятом по запросу, можно уточнить по тел.: <a href="tel:+7%20(423)%20230-69-05">+7 (423) 230-69-05</a>.</li>
                    <li>АО «Международный аэропорт Владивосток» оставляет за собой право отказать в проведении съемок на территории аэропорта по причинам, связанным с производственной деятельностью, а также требованиями авиационной безопасности и безопасности полетов.</li>
                    <li>Эл. адрес: <a href="mailto:pr@vvo.aero">pr@vvo.aero</a></li>
                    <li>Эл. адрес: <a href="mailto:pr@vvo.aero">pr@vvo.aero</a></li>
                </ul>
            </div>

            <h5 class="px-4 mt-4">Правила проведения съемок:</h5>
            <div class="px-5 my-3">
                <ol>
                    <li>Съемочная группа должна явиться в аэропорт в назначенное время.</li>
                    <li>Выдача пропусков осуществляется на КПП-1 по паспортам, в присутствии представителя пресс-службы. (КПП-1 расположено за грузовым терминалом. Для проезда к КПП-1 необходимо при въезде на территорию аэропорта, не въезжая на парковку, повернуть направо).</li>
                    <li>Съемки проводятся в сопровождении сотрудника департамента авиационной безопасности и сотрудника пресс-службы.</li>
                    <li>Съемка сотрудников таможенного и пограничного контроля, объектов авиационной безопасности, а также военной техники запрещена.</li>
                </ol>
            </div>

            <h5 class="px-4 mt-4">Тарифы на организацию и сопровождение съемок, проводимых в рекламных и коммерческих целях на территории АО «МАВ»</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Услуга</th>
                    <th scope="col">Единица измерения</th>
                    <th scope="col">Цена с НДС (руб.)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Проведение фото-, видеосъемки в коммерческих / рекламных целях в Терминале А (общая зона АВК, привокзальная площадь)</td>
                    <td>руб/в час</td>
                    <td>3700</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Проведение фото-, видеосъемки в Терминале А (контролируемые зоны аэропорта без использования служебного транспорта)</td>
                    <td>руб/в час</td>
                    <td>4709</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Проведение фото-, видеосъемки в Терминале А (контролируемые зоны аэропорта с использованием служебного транспорта)</td>
                    <td>руб/в час</td>
                    <td>6167</td>
                </tr>
                </tbody>
            </table>

            <div class="px-5 my-3">
                <p>Заявку на организацию фото- и видеосъемки Вы можете направить в канцелярию: <a href="mailto:kanc@vvo.aero">kanc@vvo.aero</a></p>
            </div>
        </div>
    </div>
{% endblock %}
