{% extends './passengersBase.html' %}
{% load static %}

{% block mysteryPassenger %}
    <div class="col-9">
        <div class="" tabindex="0">
            <h2>Программы мониторинга «Тайный пассажир»</h2>
            <div class="px-5 my-3">
                <p>
                    Одной из приоритетных целей АО «Международный аэропорт Владивосток» является совершенствование качества обслуживания пассажиров. Нам важно обеспечить безопасность, высокий уровень сервиса и комфорта для наших пассажиров и гостей.
                </p>
                <p>
                    По нашему мнению, дать объективную оценку качеству предоставляемых в аэропорту услуг могут дать только их реальные получатели – пассажиры, встречающие, провожающие и гости аэропорта.
                </p>
                <p>
                    В день аэропорт обслуживает несколько тысяч человек и каждый из них может стать участником программы «Тайный пассажир».
                </p>
                <p>
                    <strong>Цель программы:</strong> улучшение сервиса в международном аэропорту Владивостока, приведение его в соответствие с международными стандартами.
                </p>
                <p>
                    <strong>Условия участия в мониторинге «Тайный пассажир»:</strong>
                </p>
                <p>
                    Для того, чтобы стать участником мониторинга «тайный пассажир», необходимо прислать заявку на участие на адрес электронной почты <a href="mailto:feedback@vvo.aero">feedback@vvo.aero</a>. Заявка подается в свободной форме с указанием контактных данных для обратной связи, датой
                    планируемого вылета или прилета во Владивосток.
                </p>
                <p>
                    По электронной почте Вам будут направлены необходимые инструкции и задание.
                </p>
                <p>
                    После полета через международный аэропорт Владивостока «тайный пассажир» в течение 30 дней направляет на электронный адрес <a href="mailto:feedback@vvo.aero">feedback@vvo.aero</a> отчет в свободной форме, в котором описывает все факты об обслуживании в аэропорту Владивостока,
                    полученные в ходе мониторинга. Фото-, видео, аудио- материалы приветствуются.
                </p>
                <p>
                    Во избежание искажений данных при реализации программы респонденты не имеют права публично обнародовать свое участие в программе до ее официального завершения.
                </p>
                <p>
                    Включиться в программу можно в любое время. Итоги программы подводятся в конце каждого года.
                </p>
                <p>
                    В программе «тайный пассажир» не принимают участие сотрудники АО «МАВ».
                </p>
                <p>
                    <strong>Бонусы для «тайных» пассажиров:</strong>
                </p>
                <p>
                    По итогам календарного года будут определены наиболее активные участники программы и участники, подготовившие наиболее информативные отчеты.
                </p>
                <p>
                    «Тайный пассажир», приславший наибольшее количество отчетов за один календарный год будет награжден ценным подарком.
                </p>
                <p>
                    По всем интересующим вопросам Вы можете обращаться по адресу электронной почты: <a href="mailto:feedback@vvo.aero">feedback@vvo.aero</a> с указанием темы сообщения «Тайный пассажир».
                </p>
                <p>
                    Приятных Вам полетов!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
