{% extends './base.html' %}
{% load static %}

{% block passengersBase %}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="navbar-light bg-light">
                    <div class="nav flex-column rounded-4" style="background-color: #D2D2D2; padding: 5px">
                        <a class="nav-link linkMenuItems fw-bolder fs-5 mb-1" href="/passengers/register/">Регистрация</a>
                        <a class="nav-link linkMenuItems fw-bolder fs-5 mb-1" href="/passengers/about/">Общество</a>
                        <div class="nav flex-column">
                            <a class="nav-link ms-3 mb-1 linkMenuItems" href="/passengers/about/">О компании</a>
                            <a class="nav-link ms-3 mb-1 linkMenuItems" href="/passengers/pressCenter/">Пресс-центр</a>
                            <a class="nav-link ms-3 mb-1 linkMenuItems" href="/passengers/forMedia/">Для СМИ</a>
                            <a class="nav-link ms-3 mb-1 linkMenuItems" href="/passengers/career/">Карьера</a>
                        </div>
                        <a class="nav-link linkMenuItems fw-bolder fs-5 mb-1" href="/passengers/contacts/">Контакты</a>
                        <a class="nav-link linkMenuItems fw-bolder fs-5 mb-1" href="/passengers/airlines/">Авиакомпании</a>
                        <a class="nav-link linkMenuItems fw-bolder fs-5 mb-1" href="/passengers/mysteryPassenger/">Тайный пассажир</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-12">
                {% block about %}{% endblock %}
                {% block pressCenter %}{% endblock %}
                {% block forMedia %}{% endblock %}
                {% block contacts %}{% endblock %}
                {% block career %}{% endblock %}
                {% block airlines %}{% endblock %}
                {% block mysteryPassenger %}{% endblock %}
                {% block register %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
