{% extends './passengersBase.html' %}
{% load static %}

{% block pressCenter %}
    <div class="col-9">
        <div class="" tabindex="0">
            <h2>Уважаемые представители СМИ!</h2>
            <div class="px-5 my-3">
                <p>
                    В своей работе мы стремимся к тому, чтобы быть качественным и надежным источником информации для всех, кто заинтересован в получении достоверных сведений о деятельности аэропорта.
                    <br>
                    Мы будем рады ответить на ваши вопросы.
                </p>
            </div>

            <h5 class="px-4 mt-4">Контакты пресс-службы</h5>
            <div class="px-5 my-3">
                <ul>
                    <li>Телефон: <a href="tel:+7%20(423)%20230-69-05">+7 (423) 230-69-05</a></li>
                    <li>Эл. адрес: <a href="mailto:pr@vvo.aero">pr@vvo.aero</a></li>
                </ul>
            </div>

            <h5 class="px-4 mt-4">Форма обратной связи</h5>
            <div class="px-5 my-3">
                <p>
                    Предложения, отзывы и вопросы об услугах и сервисах аэропорта, а также о качестве работы персонала следует направлять в отдел качества: <a href="mailto:feedback@vvo.aero">feedback@vvo.aero</a>
                    <br>
                    Более подробную информацию Вы можете посмотреть по ссылке на сайте: <a href="https://vvo.aero/passengers/feedback-form/">https://vvo.aero/passengers/feedback-form/</a>
                </p>
            </div>

            <h5 class="px-4 mt-4">Внешняя корреспонденция</h5>
            <div class="px-5 my-3">
                <p>Всю внешнюю корреспонденцию для регистрации следует направлять в канцелярию: <a href="mailto:kanc@vvo.aero">kanc@vvo.aero</a></p>
            </div>

        </div>
    </div>
{% endblock %}