{% extends './passengersBase.html' %}
{% load static %}

{% block register %}
    <div class="col-9">
        <div class="" tabindex="0">
            <h2>Регистрация пассажиров и оформление багажа</h2>
            <div class="px-5 my-3">
                <p>
                    <strong>Регистрация пассажиров и оформление багажа в международном аэропорту Владивостока начинается за 2 часа до вылета и заканчивается за 40 минут до вылета.</strong>
                </p>
                <p>
                    С <strong>15.02.2018 года</strong>, пассажиры внутренних рейсов группы авиакомпаний "Аэрофлот" ("Аврора", "Россия", "Аэрофлот") могут зарегистрироваться на рейс за 3 часа. Данное правило распространяется на пассажиров, убывающих в период с 12:00 до 20:00.
                </p>
                <p>
                    Пассажиры первого и бизнес-класса проходят регистрацию вне очереди или на отдельных стойках. Пассажиры, не прошедшие предполетный досмотр, к посадке в самолет не допускаются!
                </p>
                <p>
                    <strong>Внимание!</strong> При онлайн-регистрации наличие бумажного посадочного талона обязательно для прохождения предполетного досмотра и посадки на борт ВС. В случае, если Вы не смогли распечатать посадочный талон дома, Вы можете распечатать посадочный талон в киосках самостоятельной регистрации (при наличии) или на стойке регистрации в аэропорту не позднее, чем за 45 минут до отправления рейса.
                </p>
                <p><strong>Особенности прохождения регистрации на внутренние рейсы:</strong></p>
                <p>
                    Для обеспечения мер безопасности, при входе в терминал российских авиалиний установлена специальная аппаратура для досмотра всех посетителей аэропорта. До прохождения предполетного контроля, на информационном табло или на специальных мониторах уточните информацию о статусе рейса. В случае, если регистрация уже началась, проследуйте к соответствующим стойкам. Для проведения регистрации авиабилетов и оформления багажа пассажиров на первом этаже аэровокзала выделена специальная зона, где расположены регистрационные стойки, информационные табло и мониторы.
                </p>
                <p>
                    Регистрация пассажиров внутренних авиалиний производится у стойки, номер которой вы узнаете на информационном мониторе. Затем, следуя указателям, пассажиру необходимо подняться на эскалаторе на третий этаж, в зону спецконтроля, где осуществляется досмотр ручной клади и выход на посадку. В сопровождении работника службы организации авиационных перевозок пассажиров доставляют к трапу самолета.
                </p>
                <p><strong>Особенности прохождения регистрации на международные рейсы:</strong></p>
                <p>
                    Если Вы путешествуете за границу, Вам необходимо пройти в международный сектор аэропорта, расположенный на первом этаже, слева от эскалатора. Регистрация на рейс для пассажиров, не имеющих товары подлежащие таможенному декларированию, проводится на стойках № 3 - 8 зеленого коридора.
                </p>
                <p>
                    Для пассажиров с товарами подлежащими декларированию (см. таможенный контроль), регистрация проводится на стойках № 1 и 2 красного коридора. При прохождении регистрации по красному коридору, пассажир при себе должен иметь предварительно заполненную декларацию. Бланки для заполнения декларации находятся на таможенной информационной стойке между зелёным и красным коридорами.
                </p>
                <p>
                    После регистрации Вам необходимо подняться на 3-й этаж для прохождения таможенного, пограничного контроля и предполетного досмотра.
                </p>
                <p>
                    Так как маршрутная квитанция (электронный билет) содержит все данные о полёте, для Вашего удобства рекомендуется также иметь ее при себе для регистрации в аэропорту Владивосток. Однако это не является всем необходимым для прохождения регистрации в аэропорту Владивосток. Для регистрации с электронным билетом в аэропорту Владивосток при себе необходимо иметь паспорт (для детей — свидетельство о рождении).
                </p>
                <p>
                    При регистрации пассажиры внутренних рейсов авиакомпаний "Аэрофлот", "Россия" и "Аврора" могут воспользоваться стойками самостоятельной регистрации.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

