/*.alignImgRight, .alignImgLeft {*/
/*    margin: 4px 10px 2px 0px;*/
/*    border: 1px solid #CCC;*/
/*    padding: 2px;*/
/*    background-color: #242424;*/
/*    border-radius: 8px;*/
/*}*/

/*.alignImgRight {*/
/*    float: right;*/
/*}*/

/*.alignImgLeft {*/
/*    float: left;*/
/*}*/

/* Добавьте этот CSS в ваш файл стилей для придания красивого внешнего вида */

.aboutPage {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.aboutPage h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.aboutPage p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.alignImgRight {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.alignImgLeft {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
